* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-family: sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: black;
  margin: 2em; }

h1, h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
  padding: 0.5rem 0 0 0; }

p {
  margin: 1em 0; }

pre {
  padding: 0px;
  border: 0px;
  border-radius: 0px; }

a {
  color: #4183c4;
  font-weight: 300;
  text-decoration: none; }

a:hover {
  color: #3d85c6;
  text-decoration: underline; }

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.video,
.audio {
  display: none; }

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 8rem;
  max-width: 10rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem; }

button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 3.5rem;
  border: none;
  border-radius: 0.15rem;
  background: #fe3e09;
  margin-left: 2px;
  -webkit-box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem; }

button:hover, button:focus {
  outline: none;
  background: #fe3e09; }

button:active {
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  line-height: 3rem; }

button:disabled {
  pointer-events: none;
  background: lightgray; }

button:first-child {
  margin-left: 0; }

a.downloadLink {
  display: block;
  margin: 0 0 1em 0;
  min-height: 1.2em;
  margin-top: 30px; }

video {
  background: #222;
  margin: 10px auto;
  width: 320px;
  height: 240px; }

.video .video__screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content; }

.video__screen video {
  margin: 0 20px;
  margin-left: 0; }

.main-controls {
  padding: 0.5rem 0; }

.audio__controls {
  margin-right: 1rem; }

canvas {
  min-width: 200px;
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 2rem; }

#buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

#buttons button {
  font-size: 1rem;
  padding: 1rem;
  width: calc(50% - 0.25rem); }

section, article {
  display: block; }

.audio__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

audio {
  width: 100%;
  display: block;
  margin: 1rem auto 0.5rem; }

@media all and (min-width: 800px) {
  .wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto; } }
